#Pandas

Pandas dibangun di atas modul Numpy yang memiliki beberapa keunggulan diantaranya menawarkan struktur data yang kaya dan memiliki banyak fungsi siap pakai untuk bekerja dengan data secara cepat, mudah dan gampang diikuti. Library analisis data yang memiliki struktur data yang diperlukan untuk mengkonversi data mentah ke dalam bentuk/format tabel sehingga memudahkan untuk menganalis data

Cara Install Pandas

In [ ]:
!pip install pandas  #python
!conda install pandas  #anaconda

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
/bin/bash: conda: command not found

Cara Import Pandas

In [ ]:
import pandas as pd
import numpy as np

#Data Frame

Data frame merupakan tabel/data tabular dengan array dua dimensi yaitu baris dan kolom. Struktur data ini merupakan cara paling standar untuk menyimpan data. Setiap kolom pada data frame merupakan objek dari Series, dan baris terdiri dari elemen yang ada pada Series. Data Feame dapat membaca sebuah file (CSV, txt, xls, xlsx) dan menjadikannya tabel

Contoh Membuat Dataframe sendiri

In [ ]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
data = [1,2,3,4,5]
df1 = pd.DataFrame(data)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
data = [['Purwanto',32],['Purnomo',43],['Purwo',55]]
df2 = pd.DataFrame(data,columns=['Nama','Usia'])
print(df2)

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

 Data Feame dapat membaca sebuah file (CSV, txt, xls, xlsx) dengan mengimport file nya terlebih dahulu di folder yang sama dengan program.

Cara Import .csv

In [ ]:
data3=pd.read_csv("data.csv")
print(data3)

   A  B
0  1  2
1  4  3
2  4  2

Cara Import .txt

In [ ]:
data1=pd.read_csv("data.txt")
print(data1)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [ ]:
data2=pd.read_csv("data.txt", delimiter="\t")
print(data2)

   A  B
0  1  2
1  4  3
2  4  2

Cara Import .xls

In [ ]:
data4=pd.read_excel('data.xls')
print(data4)

Cara Import .xlsx

In [ ]:
data5=pd.read_excel('data.xlsx')
print(data5)

   A  B
0  1  2
1  4  3
2  4  2

Cara melihat tabel dengan index yg kita inginkan

In [ ]:
#semua index
data2

   A  B
0  1  2
1  4  3
2  4  2

In [ ]:
#pengambilan 5 data pertama (karena datanya sedikit maka yang tampil semua, silahkan coba dengan data yang lebih banyak lagi sendiri)
data2.head()

   A  B
0  1  2
1  4  3
2  4  2

In [ ]:
#pengambilan 2 data terakhir
data2.tail(2)

   A  B
1  4  3
2  4  2

In [ ]:
#menampilkan nama kolom
data2.columns

Index(['A', 'B'], dtype='object')

Data Frame juga dapat Menambah Kolom, contohnya:

In [ ]:
#Menambahkan index di kolom baru
df5 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df5["Index"]=df5.index
df5

       Nama  Usia  Index
0  Purwanto    32      0
1   Purnomo    43      1
2     Purwo    55      2

In [ ]:
#Menambahkan kolom Gender dengan isian baru
df5.loc[:, "Gender"] = pd.Series(['L','L','L'])
df5

       Nama  Usia  Index Gender
0  Purwanto    32      0      L
1   Purnomo    43      1      L
2     Purwo    55      2      L

Melihat ukuran dataframe

In [ ]:
#ukuran baris paling panjang
len(df5)

3

In [ ]:
#ukuran baris pada kolom tertentu
len(df5["Nama"])

3

In [ ]:
#ukuran baris, ukuran kolom dataframe
print(df5.shape)

(3, 4)

Menghapus

In [ ]:
#menghapus kolom
del df5['Nama']
df5

   Usia  Index Gender
0    32      0      L
1    43      1      L
2    55      2      L

In [ ]:
#Menghapus n baris di awal
df5=df5[2:]
df5

   Usia  Index Gender
2    55      2      L

In [ ]:
df6 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df6

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

In [ ]:
#Menghapus baris tertentu
df6=df6.drop(df6.index[[0,2]])
df6

      Nama  Usia
1  Purnomo    43

#Ekspor Dataframe

In [ ]:
#Misal kita punya suatu dataframe
data = [[1,32],[2,43],[4,55]]
df = pd.DataFrame(data,columns=['Nama','Usia'])

#Convert ke numpy array
databaru = df.to_numpy()
print(databaru)

#Convert ke txt
df.to_csv("dataexport.txt")

#Convert ke csv
df.to_csv("dataexport.csv")

#Convert ke xlsx
writer = pd.ExcelWriter('dataexport.xlsx')
df.to_excel(writer, 'DataFrame')
writer.save()

[[ 1 32]
 [ 2 43]
 [ 4 55]]